@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Cormorant Garamond', serif, sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    color: white;
}

ul{
    list-style: none;
}

li{
    display: list-item;
    text-align: -webkit-match-parent;
}

a{
    text-decoration: none;
    color: white;
}

header{
    font-size: 6rem;
}

h1{
    font-size: 4.2rem;
}

h2{
    font-size: 4.2rem;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 1em;
    margin-inline-end: 1em;
}

footer{
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background-color: #181719;
    border-top: 4px solid rgb(27, 42, 65);
}
/* Las clases*/

/*Inicio navegador*/

/* inicio menu*/
nav{
    background: #010000;
    height: 40px;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: #fdfdfd 1px solid;
}

.enlace{
    position: absolute;
}

.logo{
    height: 60px;
    width: 100%;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 30px;
    margin-right: 0 5px;
}

nav ul li a{
    color: aliceblue;
    font-size: 12px;
    padding: 0px 8px 3px;
    border-radius: 3px;
    margin-bottom: 5px;
    text-transform: uppercase;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

li a:active, li a:hover{
    background: #ffffff;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    height: 10px;
    width: 10px;
    border: 1px solid rgb(71, 129, 244);
    color: black;
}

.checkbtn{
    font-size: 20px;
    color: white;
    float: right;
    line-height: 65px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}
/* Fin menu*/

/*La bienvenida*/
.bienvenido-seccion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url(dia4.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
/*Final bienvenida*/
/* Seccion de proyectp*/
.proyectos{
    text-align: center;
    padding: 6rem 2rem;
    background-color: #1E6BA2;
}

.proyectoSectionHeader{
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid #fff;
}

.projects-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 0.5fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.project{
    background: var(--main-gray);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px; 
    background: #20272a;
}

.project-image{
    height: calc(100% - 3.8rem);
    width: 100%;
    object-fit: cover;  
}

.project-title{
    font-size: 1rem;
}

.code{
    color: #20272a;
    transition: color 0.3s ease-out;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
}

.btn-show-all{
    font-size: 2rem;
    background: #20272a;
    transition: background 0.3s ease-out;
    -webkit-transition: background 0.3s ease-out;
    -moz-transition: background 0.3s ease-out;
    -ms-transition: background 0.3s ease-out;
    -o-transition: background 0.3s ease-out;
}

.btn{
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

/*Seccion Contacto*/
.contact-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
    padding: 0 2rem;
    background: #20272a;
}
/*Los hover*/

.lista-navegador a:hover{
    color: rgb(141, 195, 239);
    font-size: 2rem;
    cursor: pointer;
}

.navegador .logotipo a:hover{
    color: rgb(246, 246, 246);
    font-size: 1.7rem;
    text-decoration: underline;
    cursor: pointer;
}

.project:hover .code{
    color: #ff7f50;
}

.chexkbtn{
    color: #fdfdfd;
    background: #fff;
    font-size: 500px;
    float: right;
    line-height: 80px;
}



/* Los medias quieri*/


@media (max-width: 952) {
    nav{
        background: #010000;
        height: 100px;
        width: 100%;
        padding-bottom: 5px;
        border-bottom: #fdfdfd 1px solid;
    }
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 161px;
    }
    h2{
        font-size: 3.2rem;
    }
    ul{
        width: 20%;
    }
    header {
        font-size: 3rem;
        text-align: center;
    }
    
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 50%;
        height: 100vh;
        background: #010000;
        top: 40px;
        right: -100%;
        text-align: center;
        transition: all .5s;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 10px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 16px;
    }
    li a:hover, li a.active{
        background: none;
        color: white;
    }
    #check:checked ~ ul{
        left: 0;
    }
    h2{
        font-size: 2.2rem;
    }

       /*La bienvenida*/
       .bienvenido-seccion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background: url(https://zi9vziakfwbxjhzxx5oing.on.drv.tw/cv.sorido0/miCodigo.png);
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }

    nav {
        background: #010000;
        height: 60px;
        width: 100%;
        padding-bottom: 5px;
        border-bottom: #fdfdfd 1px solid;
    }

    header {
        font-size: 4rem;
        text-align: center;
    }

    .logo {
        height: 84px;
        width: 100%;
    }

    .projects-grid {
        width: 76%;
    }
    
    .project-title {
        font-size: 1.1rem;
        padding: 0.1rem 0.5rem;
    }
}

@media (max-width: 465px){
    .project-title {
        font-size: 1.5rem;
        padding: 0.1rem 0.5rem;
    }
    .contact-section{
        height: 94vh;
    }

    .projects-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(249px, 1fr));
        grid-gap: 2rem;
        margin: 0 auto;
        margin-bottom: 2rem;
        margin-left: 9px;
    }

    body {
        font-family: 'Cormorant Garamond', serif, sans-serif;
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1.4;
        color: white;
    }
}


@media (max-width: 295px) {
    .contact-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100vh;
        padding: 0 2rem;
        background: #20272a;
    }
    header {
        font-size: 3rem;
        text-align: center;
    }

    .proyectos {
        padding: 0rem 2rem;
    }

    .project-title {
        font-size: 1rem;
        padding: 1.1rem 1.5rem;
    }

    body{
        font-size: 1rem;
    }
}

/* los medias quieri*/
